<%- include('partials/header') %>

  <%- include('partials/navbar') %>

    <div class="content">
      <div class="heading">
        <h3>Get All the updates for latest events here!</h3>
      </div>
      <% usersWithevents.forEach(function(user){ %>
        <% user.events.forEach(function(event){ %>
          <div class="para">

            <img src="/upload/<%=event.eventimage%>"
              style="height: 200px; width: 200px; float: left; margin-right: 50px; margin-bottom: 20px;">
            <h4 style="width: 100%; margin-bottom: 20px;">
              <%=event.title%>
            </h4>
            <div class="secret-text" style="display: flex;">

              <h6 style="padding-right: 10px;">Description:</h6>
              <p>
                <%= event.eventdescription %>
              </p>

            </div>
            <div class="secret-text" style="display: flex;">


              <a style="color: rgb(75, 75, 75); margin-right: 20px; text-decoration: none;" href="<%=event.link%>"
                style="text-decoration: none; ">
                <h6 style="padding-right: 10px;">Event Link</h6>
              </a>

            </div>





          </div>
          <hr style="width: 90%;">
          <% }) %>
            <% }) %>



              <div class="heading">
                <h4>Ongoing Event's Organisers</h4>
              </div>
              <% user.forEach(function(user){ %>
                <div class="para">

                  <img src="/upload/<%=user.image%>"
                    style="height: 200px; width: 200px; float: left; margin-right: 50px;">
                  <h4 style="width: 100%; margin-bottom: 20px;">
                    <%=user.clubName%>
                  </h4>
                  <div class="secret-text" style="display: flex;">

                    <h6 style="padding-right: 10px;">Description:</h6>
                    <p>
                      <%= user.description %>
                    </p>

                  </div>
                  <div class="secret-text" style="display: flex;">


                    <a style="color: rgb(75, 75, 75); margin-right: 20px; text-decoration: none;"
                      href="<%=user.instagram%>" style="text-decoration: none;">
                      <h6 style="padding-right: 10px;">Instagram</h6>
                    </a>
                    <a style="color: rgb(75, 75, 75); margin-right: 20px; text-decoration: none;"
                      href="<%=user.website%>" style="text-decoration: none;">
                      <h6 style="padding-right: 10px;">
                        <%=user.clubName%>
                      </h6>
                    </a>
                  </div>


                </div>
                <hr style="width: 90%;">
                <% }) %>
    </div>





    <%- include('partials/footer') %>